{:deps {org.clojure/clojure {:mvn/version "1.9.0"}
        org.clojure/clojurescript {:mvn/version "1.10.439"}
        re-frame {:mvn/version "0.10.5"}}
 :paths ["src"]
 :aliases {:test {:extra-deps {olical/cljs-test-runner {:mvn/version "2.1.0"}}
                  :extra-paths ["test"]}
           :test-once {:main-opts ["-m" "cljs-test-runner.main"]}
           :test-watch {:main-opts ["-m" "cljs-test-runner.main" "-w" "src"]}}}