^{:ring-server-options {:port 9501}
  :watch-dirs ["src"]
  ; :watch-dirs ["src" "../master/src"]
  :css-dirs ["resources/public/css"]}
{:main form-validator-doc.core
 ; Use when error with :advanced compilation to debug easier
 ; :pseudo-names true
 }